html, body {
  height: 100%;
  margin: 0;
}

#searchresult {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  grid-template-rows: repeat(2, 1fr);    /* 2 rows */
  gap: 30px; /* increase space between items */
  padding: 20px 20px 20px 20px; /* top, right, bottom, left */
  margin: 0;
  height: 90vh;  /* container fills most of the viewport height */
  width: 95vw;   /* container fills most of the viewport width */
  box-sizing: border-box;

}


#maindiv {
  display: flex;
  justify-content: center; 
  align-items: center;    
  flex-direction: column;
}
#pagenavigation {
  background-color: #ddd;
  padding: 5px;
  margin: 40px;
}


.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 8px;
  background-color: #aaa
}
.item img {
  max-width: 80%;
  height: auto;
  margin-bottom: 8px;
}
